
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/

# Environment variables
.env
.env.staging
.env.production
browserstack.yml
browserstackSetupConfig.json
playwright-br*
log/
